.main_div{
  width: 50%;
  text-align: center;
  background-color: brown;
  color: #FFF;
  border-radius: 10px;
  margin: auto;
}
.todo_style{
  display: flex;
  justify-content: center;
}
.text_filed{
  height: 30px;
  width: 200px;
  border: none;
  border-radius: 10px;
}
.text{
  padding: 0 10px;
}
.button{
  background-color: coral;
  color: #FFF;
  padding: 7px 10px;
  border-radius: 10px;
}
ol li{
  list-style-type: none;
}

@media only screen and (max-width: 480px) {
  .main_div{
    width: 100%;
  }
}